@import "_color.scss";
body{
    background-image: url('image/bodybacgraundimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 1000px;
    background-attachment: fixed;
}
@font-face {
    font-family: normal;
    src: url(fonts/normal.ttf);
}
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: normal;
}
div[class*="col-"]{
    padding: 15px;
    float: left;
}
.col-12-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.container{
max-width: 1500px;
margin: 0 auto;
padding: 20px 0;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.row:after{
 content: "";
display: block;
clear: both;
}
.col-1{
   width: 8.33%;
}
.col-2{
   width: 16.66%; 
}
.col-3{
   width: 25%;
}
.col-4{
   width: 33.33%;
}
.col-5{
   width: 41.33%;
}
.col-6{
   width: 50%;
}
.col-7{
   width: 58.33%;
}
.col-8{
   width: 66.66%;
}
.col-9{
   width: 75%;
}
.col-10{
   width: 83.33%;
}
.col-11{
   width: 91.66%;
}
.col-12{
   width: 100%;
}
#headerrr{
    padding: 0px;
}
a{
    font-family: normal;
}
header{
    nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 20px;
            li{
                a{
                    font-size: 20px;
                    color: $gray7;
                    padding: 7px 10px;
                    border-radius: 5px;
                    -webkit-transition-duration: 1s;
                         -o-transition-duration: 1s;
                            transition-duration: 1s;
                    &:hover{
                        background-color: $gray7;
                        color: white;
                    }
                }
            }
        }
    }
    .logo{
        display: inline-block;
        width: 180px;
        height: 60px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.index-aside{
    padding: 10px;
    width: 30%;
    border: 1px solid white;
    border-radius: 20px;
    max-height: 1050px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    h1{
        color: $gray7;
        font-size: 25px;
        margin: 0px auto;
        text-align: center;
        font-weight: 300
    }
    form{
        select{
            margin-top: 10px;
            padding: 15px 5px;
            font-size: 16px;
            outline: none;
            border: 1px solid white;
            border-radius: 8px;
            width: 100%;
        }
        #label-aside-header{
            display: block;
            margin-top: 10px;
            font-size: 20px;
        }
        .form-div-1{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            input{
                width: 45%;
                height: 51px;
                padding: 11px 10px;
                outline: none;
                border-radius: 8px;
                border: 1px solid white;
                margin-top: 10px;
            }
            select{
                width: 45%;
            }
        }
        .form-div-2{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 10px;
            input{
                width: 20px;
                height: 20px;
            }
            div{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 15px;
                label{
                    font-size: 18px;
                    color: $gray7;
                    font-weight: 300;
                }
            } 
        }
        button{
            width: 90%;
            margin: 0px auto;
            display: block;
            padding: 10px 0;
            background-color: #197CA5;
            color: white;
            border: none;
            outline: none;
            font-size: 20px;
            border-radius: 12% 88% 12% 88% / 100% 0% 100% 0%  ;
            cursor: pointer;
            margin-top: 20px;
            -webkit-transition-duration: 0.5s;
                 -o-transition-duration: 0.5s;
                    transition-duration: 0.5s;
            &:hover{
                background-color: #45A77D;
            }
        }
    }
}
.index-article{
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .index-article-div{
        border: 1px solid white;
        min-height: 190px;
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
    }
}
.index-article-div-1{
    div{
        width: 100%;
        height: 150px;
        position: relative;
        border-radius: 10px;
        -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        img{
            width: 150px;
            height: 99%;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
    }
}
#h-1{
    display: inline-block;
}
#button-1{
    color: white;
    display: block;
    padding: 15px 0;
    text-align: center;
    background-color: #197CA5;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    &:hover{
        background-color: #009b58;
    }
}
.index-article-div-2{
    div{
        h1{
            font-size: 20px;
        }
        p{
            margin: 15px 0;
            font-size: 18px;
            i{
                margin-right: 10px;
            }
        }
    }
}
.col-5{
    i{
        color: #009b58;
    }
}
label #cancel{
    float: right;
    font-size: 40px;
    margin-right: 15px;
    cursor: pointer;
    padding-top: 10px;
}
label #btn{
    float: right;
    font-size: 40px;
    margin-right: 15px;
    cursor: pointer;
    padding-top: 10px;
}
#check{
    display: none;
}
.top-lector-section-div-home{
    form{
        width: 30%;
        margin: 0 auto;
        input{
            margin-bottom: 30px;
            width: 100%;
            padding: 20px 0;
            border-radius: 10px;
            outline: none;
            border: none;
            font-size: 18px;
            text-indent: 10px;
        }
    }
    article{
        .top-lector-section-div-home-div-0{
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            position: relative;
            width: 60%;
            overflow: hidden;
            margin: 20px auto;
            padding: 15px;
            border: 1px solid black;
            border-radius: 10px;
            .fix{
                position: absolute;
                right: 0px;
                top: 0px;
                border-bottom: 1px solid rgb(103, 103, 103);
                border-left: 1px solid rgb(103, 103, 103);
                border-bottom-left-radius: 5px;
                cursor: pointer;
                i{
                    color: red;
                    padding: 10px;
                    font-size: 20px;
                }
            }
            .top-lector-section-div-home-div-1{
                width: 20%;
                display: inline-block;
                img{
                    width: 100%;
                    height: 134px;
                }
            }
            .top-lector-section-div-home-div-2{
                width: 79%;
                display: inline-block;
                
                h1, h2, p{
                    -webkit-transition-duration: 1s;
                         -o-transition-duration: 1s;
                            transition-duration: 1s;
                    color: rgb(21, 21, 21);
                }
                h1{
                    font-size: 20px;
                }
                h2{
                    font-size: 15px;
                    margin: 10px 0px 20px 0px;
                }
            }
            .perent{
                -webkit-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
                opacity: 0;
                left: 0px;
                right: 0px;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.406);
                height: 100%;
                bottom: -100%;
                a{
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                    border: 1px solid white;
                    border-radius: 5px;
                    padding: 10px 20px;
                    color: #242424;
                }
            }
            &:hover .perent{
                bottom: 0%;
                opacity: 1;
               
            }
            &:hover .top-lector-section-div-home-div-2{
                h1, h2, p{
                    color: $gray7;
                }
            }
        }
    }
}  
.contact-section{
    height: 700px;
    article{
        width: 100%;
        div{
            float: left;
            ul{
                margin: 0 auto;
                li{
                    margin: 40px 0px 40px 10px;
                    font-size: 25px;
                    a{
                        color: $gray7;
                    }
                }
            }
        }
        iframe{
            float: right;
            width: 60%;
            height: 400px;
        }
    }
}
.about-section{
    .section-about-div{
        padding: 100px 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 50px;
        .info-about{
            h1{
                font-size: 35px;
                color: $gray7;
                margin-bottom: 20px;
            }
            p{
                text-indent: 10px;
                max-width: 500px;
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }
    height: 700px;
    .img-about{
        width: 500px;
        overflow: hidden;
        img{
            width: 100%;
            border-radius: 5px;
        }
    }
}
footer{
    .div-footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        .logo-footer{
            width: 180px;
            height: 60px;
            img{
                width: 180px;
                height: 60px;
            }
        }
        ul{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 30px;
            li{
                a{
                    font-size: 20px;
                    color: $gray7;
                }
            }
        }
    }
}
@media (max-width: 576px){
    div[class*="col-"]{
        padding: 6px;
        float: left;
    }
    header{
        nav{
            .logo{
                width: 70px;
                height: 20px;
            }
            ul{
                li{
                    #a-1{
                        display: none;
                    }
                    i{
                        font-size: 16px;
                        &:hover{
                            background-color: $gray7;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .col-12-1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .index-aside{
        width: 100%;
    }
    .index-article{
        width: 100%;
        .col-10{
            width: 100%;
        }
        .index-article-div{
            min-height: auto;
            .index-article-div-1{
                div{
                    height: 100px;
                    img{
                        width: 100px;
                    }
                }
            }
            .index-article-div-2{
                .col-7{
                    h1{
                        font-size: 16px;
                    }
                    p{
                        font-size: 11px;
                    }
                }
                .col-5{
                    div{
                        h1{
                            font-size: 16px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                   #button-1{
                    padding: 10px 2px;
                    font-size: 12px;
                    border-radius: 4px;
                    border: none;
                    margin-top: 10px;
                   }
                }
            }
        }
    }
    .top-lector-section{
        .top-lector-section-div-home{
            form{
                width: 70%;
                input{
                    font-size: 15px;
                }
            }
            article{
                .top-lector-section-div-home-div-0{
                    width: 80%;
                }
            .top-lector-section-div-home-div-1{
                width: 100%;
                display: block;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                img{
                    margin: 0 auto;
                    width: 100%;
                }
            }
            .top-lector-section-div-home-div-2{
                width: 100%;
                h1, h2, p{
                    text-align: center;
                }
            }
        }
        }
    }
    .contact-section{
        article{
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            div{
                ul{
                    li{
                        text-align: center;
                    }
                }
            }
            iframe{
                width: 100%;
            }
        }
    }
    footer{
        .div-footer{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            .logo-footer{
               margin-bottom: 20px;
            }
            ul{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                li{
                   a{
                    font-size: 25px;
                   }
                }
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 768px){
    div[class*="col-"]{
        padding: 6px;
        float: left;
    }
    header{
        nav{
            .logo{
                width: 90px;
                height: 30px;
            }
            ul{
                li{
                    #a-1{
                        display: none;
                    }
                    i{
                        &:hover{
                            background-color: $gray7;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .col-12-1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .index-aside{
        width: 90%;
        margin: 0 auto;
    }
    .index-article{
        width: 100%;
        .col-10{
            width: 100%;
        }
        .index-article-div{
            min-height: auto;
            .index-article-div-1{
                div{
                    height: 100px;
                    img{
                        width: 100px;
                    }
                }
            }
            .index-article-div-2{
                .col-7{
                    h1{
                        font-size: 18px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                .col-5{
                    div{
                        h1{
                            font-size: 18px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                   #button-1{
                    padding: 10px 0;
                    font-size: 15px;
                    border-radius: 5px;
                    border: none;
                    margin-top: 12px;
                   }
                }
            }
        }
    }
    .top-lector-section{
        .top-lector-section-div-home{
            form{
                width: 70%;
                input{
                    font-size: 17px;
                }
            }
            article{
            .top-lector-section-div-home-div-1{
                width: 100%;
                display: block;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                img{
                    margin: 0 auto;
                    width: 100%;
                }
            }
            .top-lector-section-div-home-div-2{
                width: 100%;
                h1, h2, p{
                    text-align: center;
                }
            }
        }
        }
    
    }
    .contact-section{
        article{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            div{
                ul{
                    li{
                        text-align: center;
                    }
                }
            }
            iframe{
                width: 100%;
            }
        }
    }
    footer{
        .div-footer{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            .logo-footer{
               margin-bottom: 20px;
            }
            ul{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                li{
                   a{
                    font-size: 25px;
                   }
                }
            }
        }
    }
}    
@media (min-width: 768px) and (max-width: 992px){
    header{
        nav{
            .logo{
                width: 140px;
                height: 45px;
            }
            ul{
                li{
                   #a-1{
                    display: none;
                   }
                   #a-2{
                    display: block;
                    font-size: 25px;
                   }
                    i{
                        &:hover{
                            background-color: $gray7;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .col-12-1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .index-aside{
        margin: 0 auto;
        width: 80%;
    }
    .index-article{
        width: 100%;
        .col-10{
            width: 100%;
        }
        .index-article-div{
            min-height: auto;
            .index-article-div-1{
                div{
                    height: 130px;
                    img{
                        width: 100px;
                    }
                }
            }
            .index-article-div-2{
                .col-7{
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
                .col-5{
                    div{
                        h1{
                            font-size: 20px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                   #button-1{
                    padding: 15px 0;
                    font-size: 18px;
                    border-radius: 5px;
                    border: none;
                    margin-top: 10px;
                   }
                }
            }
        }
    }
    .contact-section{
        article{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            div{
                ul{
                    li{
                        text-align: center;
                    }
                }
            }
            iframe{
                width: 100%;
            }
        }
    }

}
@media (min-width: 992px) and (max-width: 1200px){
    header{
        nav{
            .logo{
                width: 140px;
                height: 45px;
            }
            ul{
                li{
                   #a-1{
                    display: block;
                    font-size: 16px;
                    padding: 5px 7px;
                   }
                   #a-2{
                    display: none;
                   }
                    i{
                        &:hover{
                            background-color: $gray7;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .index-aside{
        width: 30%;
    }
    .index-article{
        width: 70%;
        .index-article-div{
            min-height: auto;
            .index-article-div-1{
                div{
                    height: 130px;
                    img{
                        width: 100px;
                    }
                }
            }
            .index-article-div-2{
                .col-7{
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 17px;
                    }
                }
                .col-5{
                    div{
                        h1{
                            font-size: 20px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                   #button-1{
                    padding: 15px 0;
                    font-size: 15px;
                    border-radius: 5px;
                    border: none;
                    margin-top: 10px;
                   }
                }
            }
        }
    }
    .contact-section{
        article{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            div{
                ul{
                    li{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media(min-width: 1200px) and (max-width: 1440px){
    div{
        h1{
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
    }
    #a-2{
        display: none;
       }
       .contact-section{
        article{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            div{
                ul{
                    li{
                        font-size: 23px;
                    }
                }
            }
        }
    }
}
@media(min-width: 1440px){
    #a-2{
        display: none;
       }
}